In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("Base_clientes_Monopoly.xlsx",  sheet_name="Transición de Negocio")
df.to_csv("Base_clientes_Monopoly.csv", sep=";")

In [5]:
df_dormamu=pd.read_csv("Base_clientes_Monopoly.csv",
                       sep=";", 
                       skiprows=1, 
                       nrows=1000)

In [6]:
df_dormamu.drop(["0", "Id","Unnamed: 575"], axis=1, inplace=True)

In [10]:
df_dormamu.head()

,Subsegmento,Sexo,Region,Edad,Renta,Antiguedad,Internauta,Adicional,Dualidad,Monoproducto,...,ColMx_T01,PagoNac_T01,PagoInt_T01,EeccNac_T01,EeccInt_T01,UsoL1_T01,UsoL2_T01,UsoLI_T01,IndRev_T01,target
0,160,M,13.0,43,NaN,130,1,1,0,0,...,0.0,33000,0.0,1099866,0.0,1099866.0,15080,0.0,R,0
1,160,H,13.0,46,143640.0,69,1,0,0,0,...,0.0,300000,0.0,214592,0.0,214592.0,83596,0.0,R,0
2,170,H,13.0,45,929106.0,24,1,1,0,0,...,0.0,216676,0.0,0,0.0,7400.0,0,0.0,T,0
3,151,H,13.0,46,172447.0,134,0,1,0,1,...,0.0,60000,0.0,272762,0.0,272762.0,10591,0.0,R,0
4,170,H,13.0,46,805250.0,116,0,1,1,0,...,0.0,272925,0.0,249562,0.0,75339.0,377782,0.0,R,0

In [ ]:
from pandas.api.types import is_numeric_dtype

dormamu_columns = df_dormamu.columns
        
for column in dormamu_columns:
    patrones = column.split("_")
    if len(patrones) >= 2:
        cols=[col for col in dormamu_columns if col.startswith(patrones[0]+"_")]
        hayColumnasTexto=False
        for col in cols:
            if not is_numeric_dtype(df_dormamu[col]):
                hayColumnasTexto = True

        print("Columna ", patrones[0]+"_Promedio")
        if not hayColumnasTexto:
            print("Se llena con el promedio de " + ",".join(cols))
            df_dormamu[patrones[0]+"_Promedio"]=df_dormamu[cols].mean(axis=1)
        
        df_dormamu.drop(cols, axis=1, inplace=True)
        print("-"*30)